# Contents

1. Introduciton
2. Easier loading data
    1. Unified API
    2. Less Verbose API

# Introduction

Blaze is an up-and-coming software package developed by continuum analytics. The main goal of blaze is to bring python to out of memory computing in a unified interface. See the [documentation](http://blaze.pydata.org/en/latest/overview.html) for more details. [rephrase the description if at all possible].

In [26]:
from blaze import symbol
x = symbol('x', '100000000 * int')
x.max()

max(x)

# Extremely easy to load data

## Unified and Simple API

Loading a dataset is essentially the same regardless of the format it is in,

In [22]:
from blaze import Data
Data('sqlite:////Users/Will/data/lahman2013.sqlite::BattingPost').head(5)

,yearID,round,playerID,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,1884,WS,becanbu01,NY4,AA,1,2,0,1,0,0,0,0,0,NaN,0,0,0,NaN,NaN,NaN,NaN
1,1884,WS,bradyst01,NY4,AA,3,10,1,0,0,0,0,0,0,NaN,0,1,0,NaN,NaN,NaN,NaN
2,1884,WS,carrocl01,PRO,NL,3,10,2,1,0,0,0,1,0,NaN,1,1,0,NaN,NaN,NaN,NaN
3,1884,WS,dennyje01,PRO,NL,3,9,3,4,0,1,1,2,0,NaN,0,3,0,NaN,NaN,NaN,NaN
4,1884,WS,esterdu01,NY4,AA,3,10,0,3,1,0,0,0,1,NaN,0,3,0,NaN,NaN,NaN,NaN

In [24]:
pd.source

AttributeError: 'module' object has no attribute 'source'

In [23]:
iris = Data('../blaze-tutorial/data/iris.csv')
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

As you can see, loading data is the same regardless of whether the data is in an RDBMS or csv file. In Pandas, the API is different.

In [21]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:////Users/Will/data/lahman2013.sqlite')
df = pd.read_sql('BattingPost', engine)
df.head()

,yearID,round,playerID,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,1884,WS,becanbu01,NY4,AA,1,2,0,1,0,...,0,0,NaN,0,0,0,NaN,NaN,NaN,NaN
1,1884,WS,bradyst01,NY4,AA,3,10,1,0,0,...,0,0,NaN,0,1,0,NaN,NaN,NaN,NaN
2,1884,WS,carrocl01,PRO,NL,3,10,2,1,0,...,1,0,NaN,1,1,0,NaN,NaN,NaN,NaN
3,1884,WS,dennyje01,PRO,NL,3,9,3,4,0,...,2,0,NaN,0,3,0,NaN,NaN,NaN,NaN
4,1884,WS,esterdu01,NY4,AA,3,10,0,3,1,...,0,1,NaN,0,3,0,NaN,NaN,NaN,NaN

In [20]:
pd.read_csv('../blaze-tutorial/data/iris.csv').head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

# Apply-Split-Combine

This operation is also nicely implemented in

# Expressions are amazingly powerful

In [27]:
from blaze import Symbol

In [29]:
accounts = Symbol('accounts', 'var * {id: int, name: string, balance: int}')
deadbeats = accounts[accounts.balance < 0].name

In [31]:
type(deadbeats)

blaze.expr.expressions.Field

In [32]:
deadbeats.dshape

dshape("var * string")

# Where Blaze needs more work

# Conclusion